.field{
  padding: 10px;
  display: flex;
  justify-content: start;
}
.field label{
  width:150px;
  margin-right: 10px;
  display: block;
}
.field input{
  height: 30px;
}
.buttons button{
  padding:5px;
  margin-top: 5px;
  margin-left: 5px;
}